@charset "utf-8";

@import "../node_modules/bulma/bulma.sass";

$softPink: #d8a7b1;
$seaGreen: #b6e2d3;
$cream: #fae8e0;
$hotPink: #ef7c8e;

nav {
  padding-left: 10%;
  .navbar-brand {
    width: 100%;
    .title {
      color: $softPink;
      margin-left: 30%;
    }
    .subtitle {
      margin-left: 20%;
    }
  }
}
section {
  #headImg {
    padding-top: 60px;
  }
}

#images {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
