@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$softPink: #d8a7b1;
$seaGreen: #b6e2d3;
$cream: #fae8e0;
$hotPink: #ef7c8e;
body {
  padding-top: 40px;
}
nav {
  color: $softPink;
  margin-bottom: 50px;
  padding-left: 3%;
  .navbar-brand {
    width: 100%;
    .title {
      margin-left: 30%;
    }
    .subtitle {
      margin-left: 20%;
    }
  }
}
section {
  #headImg {
    padding-top: 60px;
  }
}

#images {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
figure {
  cursor: pointer;
}
.box {
  &:hover {
    transform: scale(1.1);
  }
}
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
